// adjustment variables
$body-font : 'Open Sans', Arial, 'sans serif';

// color
$white: #fff;
$red: #bc2e3a;
$black: #171717;
$gray: #f5f5f5;

// layout
@import "_misc/fonts";
@import "_misc/mixins";
@import "_misc/adjustment";

// styles
@import "sections/header";
@import "sections/whoweare";
@import "sections/whatwedo";
@import "sections/works";
@import "sections/creative";
@import "sections/client";
@import "sections/footer";
