@font-face {
  font-family: 'lato-bold';
  src: url('../fonts/lato-bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/lato-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@mixin lato($style: regular) {
    @if $style == regular {
        font-family: 'fira_sansregular';
    }

    @if $style == bold {
        font-family: 'lato-bold';
    }
}

